body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.name-span{
    color: orange;
}

.flexi-con{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 40%;
    padding: 5%;
    
}


.half-width img{
    width: 96%;

}

.link-button{
    text-decoration: none;
   background-image: linear-gradient(45deg,lightsalmon,salmon,tomato);
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
    font-weight: 700;

}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}
.low-banner{
    background-image: url(images/dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;
}
.experience-item{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    border-radius: 15px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
#wd-exp{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1 ;
   
}
#fwd-exp{
    border-left: 7px solid;
    border-image: linear-gradient(red,tomato,yellow);
    border-image-slice: 1;

}

footer p{
    text-align: center;
}

   
