body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.name-span{
    color: orange;
}

section{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 5%;
}


.half-width img{
    width: 80%;

}

.link-button{
    text-decoration: none;
   background-image: linear-gradient(45deg,lightsalmon,salmon,tomato);
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
    font-weight: 700;

}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}
   
